$bgColor = #2d3035
$textColor = #8a8d93
$activeTextColor = #cccccc
$activeBgColor = #383838
// $purple1 = #AA4DC9
$purple1 = #A69DFF
$red1 = #e95f71
$orange = #f94
$green = palegreen
$pink = hotpink
$yellow = khaki
$blue = lightcyan
$toLeft = 30px
$borderColor = #424242
$borderWeight = 1px
$borderStyle = $borderWeight solid $borderColor

$navItemHeight = 69px

$chartHeight = 230px
$chartWidth = 220px